<img>
<svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
    xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" version="1.0" viewBox="0 0 3300 2330" preserveAspectRatio="xMidYMid meet" id="svg476" sodipodi:docname="1floor.svg" inkscape:version="0.92.4 (5da689c313, 2019-01-14)">
                <g id="layer1"
                    style="display:inline">
                <path onclick="clickMap(this.id)"
                    style="fill:#000000;fill-opacity:0.2091837;stroke:none;stroke-width:3;stroke-linecap:square;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 2721.8027,1331.6602 1.0762,149.6054 70.1231,57.541 167.5878,0.3907 -1.5078,-209.2461 z"
                    id="W006"
                    sodipodi:nodetypes="cccccc"/>
                <path onclick="clickMap(this.id)"
                    style="fill:#000000;fill-opacity:0.2091837;stroke:none;stroke-width:3;stroke-linecap:square;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 2723.2034,1509.7247 4.3435,206.539 53.5937,66.0136 181.1875,-1.3046 -1.584,-219.7598 -181.0234,1.3027 z"
                    id="W007"
                    sodipodi:nodetypes="ccccccc"
                    />
                <path onclick="clickMap(this.id)"
                    style="fill:#000000;fill-opacity:0.2091837;stroke:none;stroke-width:3;stroke-linecap:square;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 2613.2734,1805.5039 -59.9961,57.9707 -1.1855,232.3223 195.168,-1.4063 0.1718,-232.2617 50.1496,-53.9847 z"
                    id="W008"
                    sodipodi:nodetypes="ccccccc"
                    />
                <path onclick="clickMap(this.id)"
                    style="fill:#000000;fill-opacity:0.2091837;stroke:none;stroke-width:3;stroke-linecap:square;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 2828.9414,1805.123 -56.623,68.961 0.9734,216.1902 186.7414,2.5871 2.459,-289.8418 z"
                    id="W009"
                    sodipodi:nodetypes="cccccc"
                    />
                <path onclick="clickMap(this.id)"
                    style="fill:#000000;fill-opacity:0.2091837;stroke:none;stroke-width:3;stroke-linecap:square;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 2519.9999,1813.9999 h -345 l -60,60 v 225 h 405 z"
                    id="W012"
                    sodipodi:nodetypes="cccccc"
                    />
                <path onclick="clickMap(this.id)"
                    style="fill:#000000;fill-opacity:0.2091837;stroke:none;stroke-width:3;stroke-linecap:square;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 1949.9999,1933.9999 -60,60 v 300 h 195 v -360 z"
                    id="W014"
                    sodipodi:nodetypes="cccccc"
                    />
                <path onclick="clickMap(this.id)"
                    style="fill:#000000;fill-opacity:0.2091837;stroke:none;stroke-width:3;stroke-linecap:square;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 1679.9999,1933.9999 v 360 h 195 v -300 l -60,-60 z"
                    id="W016"
                    sodipodi:nodetypes="cccccc"
                    />
                <path onclick="clickMap(this.id)"
                    style="fill:#000000;fill-opacity:0.2091837;stroke:none;stroke-width:2.9559443;stroke-linecap:square;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 1543.659,1513.9779 -43.681,60.0097 v 210.0335 l 307.0716,5.2178 56.9369,-65.2274 v -210.0336 z"
                    id="W017"
                    sodipodi:nodetypes="ccccccc"
                    />
                <path onclick="clickMap(this.id)"
                    style="fill:#000000;fill-opacity:0.2091837;stroke:none;stroke-width:3;stroke-linecap:square;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 1380,1933.9999 v 360 h 269.9999 v -300 l -60,-60 z"
                    id="W018"
                    sodipodi:nodetypes="cccccc"
                    />
                <path onclick="clickMap(this.id)"
                    style="fill:#000000;fill-opacity:0.2091837;stroke:none;stroke-width:3;stroke-linecap:square;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="M 809.99997,868.99997 V 1169 h 135 v 614.9999 H 1410 l 60,-45 V 1559 l 57.3988,-47.8188 L 1470,1514 v -150 h 45 l -45,-45 45,-45 h -45 V 913.99997 l 45,-45 z"
                    id="W019"
                    sodipodi:nodetypes="ccccccccccccccccc"
                    />
                <path onclick="clickMap(this.id)"
                    style="fill:#000000;fill-opacity:0.2091837;stroke:none;stroke-width:3;stroke-linecap:square;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 1230,1933.9999 -45,60 v 300 h 180 v -360 z"
                    id="W020"
                    sodipodi:nodetypes="cccccc"
                    />
                <path onclick="clickMap(this.id)"
                    style="fill:#000000;fill-opacity:0.2091837;stroke:none;stroke-width:3;stroke-linecap:square;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 1485,1259 h 60 v 15 l -36.8633,45.457 L 1545,1364 v 15 h -60 v 105 l 315.3164,0.4688 -2.1699,-301.4454 -314.3848,-0.1191 z"
                    id="W021"
                    sodipodi:nodetypes="cccccccccccc"
                    />
                <path onclick="clickMap(this.id)"
                    style="fill:#000000;fill-opacity:0.2091837;stroke:none;stroke-width:3;stroke-linecap:square;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 824.99997,1933.9999 v 360 H 1155 v -300 l -60,-60 z"
                    id="W022"
                    sodipodi:nodetypes="cccccc"
                    />
                <path onclick="clickMap(this.id)"
                    style="fill:#000000;fill-opacity:0.2091837;stroke:none;stroke-width:3;stroke-linecap:square;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 528.15625,1813.4941 2.11328,293.3399 272.31836,-1.959 -1.68164,-233.7539 -63.23633,-59.1367 z"
                    id="W024"
                    sodipodi:nodetypes="cccccc"
                    />
                <path onclick="clickMap(this.id)"
                    style="fill:#000000;fill-opacity:0.2091837;stroke:none;stroke-width:3;stroke-linecap:square;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 524.99998,1469 v 209.9999 h 255 V 1529 l -60,-60 z"
                    id="W028"
                    sodipodi:nodetypes="cccccc"
                    />
                <path onclick="clickMap(this.id)"
                    style="fill:#000000;fill-opacity:0.2091837;stroke:none;stroke-width:3;stroke-linecap:square;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 527.60352,1249.3262 1.45703,202.2402 191.20703,-1.3769 57.92969,-61.7247 0.78906,-140.9492 z"
                    id="W030"
                    sodipodi:nodetypes="cccccc"
                    />
                <path onclick="clickMap(this.id)"
                    style="fill:#000000;fill-opacity:0.2091837;stroke:none;stroke-width:3;stroke-linecap:square;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 162.17578,1254.4668 3.50391,343.3225 324,1.1621 0.34961,-348.8145 z"
                    id="W032"
                    sodipodi:nodetypes="ccccc"
                    />
                <path onclick="clickMap(this.id)"
                    style="fill:#000000;fill-opacity:0.2091837;stroke:none;stroke-width:3;stroke-linecap:square;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 523.46875,685.18945 -3.74219,48.86719 -356.35156,91.50586 -0.41797,393.7559 615.73438,-0.834 -3.85157,-535.10549 z"
                    id="W034"
                    sodipodi:nodetypes="ccccccc"
                    />
                <path onclick="clickMap(this.id)"
                    style="fill:#000000;fill-opacity:0.2091837;stroke:none;stroke-width:3;stroke-linecap:square;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 520.39258,246.3125 4.00586,316.01758 140.06836,-1.86914 -1.41016,-315.17774 z"
                    id="W038"
                    sodipodi:nodetypes="ccccc"
                    />
                <path onclick="clickMap(this.id)"
                    style="fill:#000000;fill-opacity:0.2091837;stroke:none;stroke-width:3;stroke-linecap:square;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 806.73242,840.11133 340.86918,2.2539 -3.3164,-222.87304 -81.6153,-65.94141 -256.22459,-0.75 z"
                    id="W039"
                    sodipodi:nodetypes="cccccc"
                    />
                <path onclick="clickMap(this.id)"
                    style="fill:#000000;fill-opacity:0.2091837;stroke:none;stroke-width:3;stroke-linecap:square;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 818.20508,241.04492 -133.11328,4.95899 1.32617,170.69921 395.33003,-2.91796 66.5762,-56.62305 -2.1387,-296.699219 -329.29097,-1.939453 z"
                    id="W040"
                    sodipodi:nodetypes="cccccccc"
                    />
                <path onclick="clickMap(this.id)"
                    style="fill:#000000;fill-opacity:0.2091837;stroke:none;stroke-width:3;stroke-linecap:square;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 1318.0215,553.32031 -84.3027,0.60742 -60.6934,60.42774 -0.061,229.86328 230.2676,-1.66016 -2.0859,-289.83789 z"
                    id="W041"
                    sodipodi:nodetypes="ccccccc"
                    />
                <path onclick="clickMap(this.id)"
                    style="fill:#000000;fill-opacity:0.2091837;stroke:none;stroke-width:3;stroke-linecap:square;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 1167.3281,60.318359 0.4805,295.439451 62.0059,54.90235 124.6464,1.23632 0.9512,-352.931636 z"
                    id="W042"
                    sodipodi:nodetypes="cccccc"
                    />
                <path onclick="clickMap(this.id)"
                    style="fill:#000000;fill-opacity:0.2091837;stroke:none;stroke-width:3;stroke-linecap:square;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 1377.5605,58.806641 2.5665,356.414059 209.2168,-1.50586 62.5605,-60.39648 -2.1559,-296.470704 z"
                    id="W044"
                    sodipodi:nodetypes="cccccc"
                    />
                <path onclick="clickMap(this.id)"
                    style="fill:#000000;fill-opacity:0.2091837;stroke:none;stroke-width:3;stroke-linecap:square;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 1423.1621,552.56445 2.084,289.83985 230.2578,-1.66016 -1.8969,-229.85352 -62.6936,-57.54854 z"
                    id="W045"
                    sodipodi:nodetypes="cccccc"
                    />
                <path onclick="clickMap(this.id)"
                    style="fill:#000000;fill-opacity:0.2091837;stroke:none;stroke-width:3;stroke-linecap:square;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 1671.8984,56.689453 2.6055,356.400387 129.2402,-2.19922 65.5157,-59.17578 -2.1348,-296.43359 z"
                    id="W046"
                    sodipodi:nodetypes="cccccc"
                    />
                <path onclick="clickMap(this.id)"
                    style="fill:#000000;fill-opacity:0.2091837;stroke:none;stroke-width:3;stroke-linecap:square;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 1675.4766,550.75 2.0586,289.83789 191.7265,-1.38086 -1.6308,-226.83203 -57.1192,-60.44531 z"
                    id="W047"
                    sodipodi:nodetypes="cccccc"
                    />
                <path onclick="clickMap(this.id)"
                    style="fill:#000000;fill-opacity:0.2091837;stroke:none;stroke-width:3;stroke-linecap:square;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 1889.1406,55.126953 2.1328,296.255857 63.7832,59.35157 121.3711,-0.5254 -2.5683,-356.414058 z"
                    id="W048"
                    sodipodi:nodetypes="cccccc"
                    />
                <path onclick="clickMap(this.id)"
                    style="fill:#000000;fill-opacity:0.2091837;stroke:none;stroke-width:3;stroke-linecap:square;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 2391.3711,661.25977 -61.2012,58.18945 1.3711,182.52539 621.8809,-135.9082 0.9219,-108.88086 z"
                    id="W049"
                    sodipodi:nodetypes="cccccc"
                    />
                <path onclick="clickMap(this.id)"
                    style="fill:#000000;fill-opacity:0.2091837;stroke:none;stroke-width:3;stroke-linecap:square;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 2324.9727,237.71094 1.6347,227.33984 63.25,58.54297 132.4082,-0.95508 -2.0625,-286.33398 z"
                    id="W050"
                    sodipodi:nodetypes="cccccc"
                    />
                <path onclick="clickMap(this.id)"
                    style="fill:#000000;fill-opacity:0.2091837;stroke:none;stroke-width:3;stroke-linecap:square;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 2543.9355,235.33789 -0.062,230.66406 63.6387,55.4961 131.9981,-0.42188 -2.0371,-282.83984 z"
                    id="W052"
                    sodipodi:nodetypes="cccccc"
                    />
                <path onclick="clickMap(this.id)"
                    style="fill:#000000;fill-opacity:0.2091837;stroke:none;stroke-width:3;stroke-linecap:square;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 2762.6953,235.42923 3.3733,401.09616 187.168,-1.34766 1.459,-402.46289 z"
                    id="W054"
                    sodipodi:nodetypes="ccccc"
                    />
                <path onclick="clickMap(this.id)"
                    style="opacity:1;fill:#000000;fill-opacity:1;stroke:none;stroke-width:3;stroke-linecap:square;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 688.15002,436.43434 -0.62268,149.45628 -164.8164,1.1836 1.82207,56.02111 253.57246,6.80897 -0.93526,-122.65476 1113.61099,1.68991 -0.7813,1285.06045 H 914.99997 L 914.83984,1393.7129 794.99997,1394 v 254.9999 h 30 v 60 h -44.99999 v -15 h -255 v 105 h 299.99999 v 105 H 2084.9999 v -120 h 615 l 0.5181,-495.4748 60.3922,2.8913 -94.8497,-421.42617 -368.8476,78.7168 -17.75,113.13277 -175.9707,35.9239 -28.5078,-202.67776 -56.8025,5.15429 9.9571,-259.5565 712.2087,-3.24232 -0.6817,-94.34961 -662.7441,4.71289 -0.8321,-115.63281 z M 2609.9999,1289 v 404.9999 h -630 V 1289 Z"
                    id="couloir0"
                    sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccccccc"
                    r0" />
                <path onclick="clickMap(this.id)"
                    style="fill:#000000;fill-opacity:0.2091837;stroke:none;stroke-width:3;stroke-linecap:square;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="M 1541.8867,867.2168 1486.4551,926.38867 1485,1154 h 314.9999 V 928.99997 h 60 l -45,-60 z"
                    id="path4457"
                    sodipodi:nodetypes="cccccccc"
                    57" />
                <path onclick="clickMap(this.id)"
                    style="fill:#000000;fill-opacity:0.2091837;stroke:none;stroke-width:3;stroke-linecap:square;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 2097.1895,239.25195 2.1054,279.45117 205.7949,-1.4121 -2.1054,-279.44922 z"
                    id="path4479"
                    sodipodi:nodetypes="ccccc" />
                <path onclick="clickMap(this.id)"
                    style="fill:#000000;fill-opacity:0.2091837;stroke:none;stroke-width:3;stroke-linecap:square;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 828.40625,1187.5918 -24.79883,17.5215 -5.23242,165.164 114.57422,1.3594 -1.32813,-184.6445 z"
                    id="path4497"
                    sodipodi:nodetypes="cccccc" />
                </g>
                </svg>
